# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/
.coverage
coverage.xml

# Allure
allure-results/
allure-report/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment Variables
.env
.env.local

# Virtual Environments
venv/
env/
.venv/
.env/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS config
.DS_Store
Thumbs.db
